<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73832452672-k3njiofjtgko6kpmsemdk66k9osk7rdp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73832452672-k3njiofjtgko6kpmsemdk66k9osk7rdp</string>
	<key>API_KEY</key>
	<string>AIzaSyDLW_26VUKxQjI87-KxjJdAItsswDkLH84</string>
	<key>GCM_SENDER_ID</key>
	<string>73832452672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ee46e</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ee46e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73832452672:ios:dad136ae1fce7dc1bc45a5</string>
</dict>
</plist>